.header {
    background-image: url("../assets/backgrounds/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    
    
}
nav {
    width: 100%;
    position: absolute;
    z-index: 3;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem;
    display: grid;
    text-align: center;
}

.header-right {
    justify-self: end;
}
.header-right ul {
    display: flex;
    list-style: none;
}

.header-right ul li a
{
    padding: 0.8rem;
    color: white;
}

#front-info
{
    color: white;
    height: 75vh;
    display: grid;
    margin-top: 20rem;
}
#chevron {
    font-size: 30px;
    font-weight: bold;
}
#selection
{
    height: 15vh;
    background: #C6BFA5;
}
#selection  .container{
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content: center;

    margin: 0 auto
}
.view-all{
    text-align: end;
    justify-self: end;
}
