.header {
    background-image: url("../assets/backgrounds/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    overflow-y: scroll;
    white-space: nowrap;
    grid-template-rows: 1fr 5fr
    
    
}
nav {
    width: 100%;
    position: absolute;
    z-index: 3;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem;
    display: grid;
    align-items: center;
}

.header-right {
    justify-self: end;
}
.header-right ul {
    display: flex;
    list-style: none;
}

.header-right ul li a
{
    padding: 0.8rem;
    color: white;
    display: flex;
}

#front-info
{
    color: white;
    height: 75vh;
    display: grid;
    margin-top: 20rem;
}
#chevron {
    font-size: 30px;
    font-weight: bold;
}
#selection
{
    height: 15vh;
    background: #C6BFA5;
}
#selection  .container{
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2,1fr) !important;
    align-content: center;

    margin: 0 auto
}
.view-all{
    text-align: end;
    justify-self: end;
}
/*products session*/
#products
{
    width: 100%;
    
    margin: 0 auto;
}


.men-header
{
    text-transform: uppercase;
    display: flex;
    text-rendering: inherit;
    text-emphasis: bold;
    flex-direction: row;
  
}
#line
{
    height: 2px;
    width: 100%;
    margin-left: 3rem;
    background: gray;
}
#women-line {
    height: 2px;
    width: 100%;
    margin-left: 3rem;
    background: gray;
}
#men{
    margin-top: 4rem;
}

.scroll-ui{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: flex-end;
    
    
    
}

.products-columns
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2.3rem;
}

.item{
    width: 320px;
    height: 380px;
    background: rgb(245,245,247);
    justify-self: center;
    border: 2px white solid;

    display: grid;
    grid-template-rows: 10% 70% 20%
}
.item:hover{
    border: 3px #a99b76 solid;
    cursor: pointer;
}
.item img{
    align-self: center;
    justify-self: center;
    height: 80%;
}
.item img:hover {
    cursor: pointer;
    
}

.top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}


.bottom 
{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.women-header
{
    text-transform: uppercase;
    display: flex;
    text-rendering: inherit;
    text-emphasis: bold;
    flex-direction: row;
    margin-top: 3rem;
  
}
#circle1 {
    background-color: green;
    border-radius: 50%;
    font-size: 20px;
}
#circle2 {
    background-color: blue;
    border-radius: 50%;
    border: transparent;
    font-size: 20px;
}
#circle3 {
    background-color: gray;
    border-radius: 50%;
    font-size: 20px;
}
#circle4 {
    background-color: pink;
    border-radius: 50%;
    border: transparent;
    font-size: 20px;
}
#circle5 {
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    outline: none;
}
.about {
    background-image: url("../assets/backgrounds/about.jpg");
    padding: 100px;
    

}
#about-paragraph {
    font-size: 20px;
    
}
#about-paragraph:focus-visible {
    backface-visibility: visible;
}

.promotion {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 20px;
    
    background-color: #535154;
    border: 3rem;
}
#promotion-statement {
    margin-left: 4rem;
    color: white;
    display: flex;
    align-items: center;
    
}
#promo-img{
    height: 25px;
    margin-left: 10rem;
}
#footer{ 
    background: #414141;
    
}

#footer-text{
    color: white;
    display: grid;
    grid-template-columns: 20% 20% 25%;
    justify-content: center;
    align-items: center;
    grid-gap: 10%;
    padding: 4rem;
}


.social-media{
    display: grid;
    grid-template-columns: repeat(4,1fr );
    grid-gap: 1rem;
    margin-bottom: 2rem;
    
}
#credits {
    text-transform: uppercase;
    text-align: center;
}
/*responsive*/
.column {
    width: 100%;
  }
#about {
    width: 100%;
    height: 100%;
}
*
{
    padding: 0;
    margin: 0;
}

.container
{
    max-width: 1100px;
}
  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }
  @media (min-width: 600px) {
    .header {
      flex-wrap: nowrap;
    }

    div {
      flex-basis: 100%;
    }
  }